<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ('fragments/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('fragments/navbar.ejs') %>
    </nav>


    <%- include (page) %>

    
    <footer>
        <%- include ('fragments/footer.ejs'); %>
    </footer>
</body>
</html>