<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/classe">Les classes</a></li>
    <li><a href="/professor">Corps professoral</a></li>
    <li><a href="/about">A propos</a></li>
    <li><a href="/comment">Commentaires</a></li>
    <li><a href="/comment/addForm">Ajouter un commentaire</a></li>
    <li><a href="/connection">Connexion</a></li>       
</ul>